.body_lienhe {
  top:90px;
  right:30px;
  left:30;
  display:flex;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background-color: #f9fafb;
  justify-content: space-between;
}
img {
  width: 300px;
  height: auto;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 50 left; /* căn giữa ảnh */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Đặt font mặc định toàn trang */
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background-color: #f9fafb;
  background-image: url("anhnen.jpg");
  background-size: contain; /* hoặc auto, 50% tùy ý */
  background-repeat: no-repeat;
  background-position: center;
}


/* ===== HEADER ===== */
.header {
  display: flex;
  /* Bật Flexbox */
  justify-content: space-between;
  /* Logo bên trái, menu bên phải */
  align-items: center;
  /* Căn giữa theo chiều dọc */
  background-color: #007bff;
  padding: 15px 40px;
  color: #fff;
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 60px;
  height: auto;
}

.logo h1 {
  font-size: 1.4rem;
  font-weight: 600;
}

/* Menu điều hướng */
.navigation ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

.navigation a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  transition: color 0.3s, border-bottom 0.3s;
}

.navigation a:hover {
  color: #ffeb3b;
  border-bottom: 2px solid #ffeb3b;
  padding-bottom: 2px;
}
